
.camera-card {
    border-radius: var(--radius-lg);
    border: none;
  box-shadow: var(--raised);
    color: var(--accent);
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--bg);
    overflow: visible;
}

.camera-video {
    width: 100%;
    aspect-ratio: 16/9;
    background-color: black;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.camera-name-group {
    display: column;
    gap: none;
    padding-left: 6px;
    margin-top: 0px;
}

.name {
    font-size: 13px;
    color: var(--accent);
}

.camera-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.status {
    font-size: 10px;
    transform: translateY(-4);
    transform: translateX(4);
}
.status.online {
    color:var(--success);
}
.status.offline {
    color: var(--danger);
}
